{>page/}
{<content}
   <div class="border body">
         <h2 class="center">News and Events</h2>
         {#data expr="user.name"}
               {.}<h3>{expr}</h3>
         {/data}
         {#posts}
         <article>
            <header>
               <h3>{title}</h3>
            </header>
            <time datetime="{date}" class="byline">{date}</time>
            <section>
            {content}               
            </section>
         </article>
         {/posts}
   </div>   
   {/content}