{>page/}
{<title}<title>Semantic Programmer: Technology</title>{/title}
   {<content}
      <div class="border body">
         <div id="left-column" class="column">
            {>technology_menu/}
         </div>
         <div class="column">
            <h2 class="center">Technology News</h2>
            {#posts}
            <article>
               <header>
                  <h3>{title}</h3>
               </header>
               <time datetime="{date}" class="byline">{date}</time>
               <section>
                  {content}
               </section>               
            </article>
            {/posts}
         </div>
      </div>   
      {/content}